standalone/input/
standalone/output/
standalone/manual/
standalone/orig/
standalone/inputt/
standalone/outputt/
standalone/manuall/
standalone/origg/
standalone/key.json
structured/key.json
structured/settings.json
TODO.txt
structured/*