standalone/input/
standalone/output/
standalone/manual/
standalone/orig/
standalone/inputt/
standalone/outputt/
standalone/manuall/
standalone/origg/
standalone/key.json
structured/key.json
TODO.txt
structured/__pychache__/
structured/__pychache__/gpxmove.cpython-310.pyc

